body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.main-container {
  background-color: #1e2336;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
  font-family: "Montserrat", sans-serif;
}

#footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 100%;
  background-color: #1e2336;
  height: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section {
  border-right: 1px solid;
  width: 25%;
  text-align: center;
}

.footer-section:nth-last-child(1) {
  border: none;
  width: 25%;
  text-align: center;
}

.container-header-img {
  position: relative;
}

.period {
  color: #ffffff;
  font-size: 22px;
  font-weight: "Semi-bold";
}

.big-game {
  width: 309px;
  height: 38px;
  background-color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: "Semi-bold";
}

.test-app {
  font-size: 18px;
  font-weight: "Semi-bold";
}

.group-distingame {
  display: flex;
  justify-content: center;
}
.group-title {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 90%;
}

.button-validation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2336;
  color: white;
  width: 63%;
  height: 4em;
  text-align: center;
}

form {
  font-size: 14px;
  color: #99a3a5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 37%;
}

.category-list-footer {
  width: 80%;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}

.civ {
  display: flex;
  justify-content: space-between;
}

.container-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.field-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
