/* reset */

body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* Container global */

.main-container {
  background-color: #1e2336;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Image & Titles */

.container-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
  font-family: "Montserrat", sans-serif;
}

.container-header-img {
  position: relative;
}

.period {
  color: #ffffff;
  font-size: 1.375em;
  font-weight: 600;
}

.big-game {
  width: 309px;
  height: 38px;
  background-color: #ffffff;
  text-align: center;
  font-size: 1.875em;
  font-weight: 600;
}

.test-app {
  font-size: 1.125em;
  font-weight: 600;
  margin-top: -1.8em;
}

.group-distingame {
  display: flex;
  justify-content: center;
  align-items: center;
}

#distin {
  font-size: 6.1875em;
  font-weight: 600;
  color: #1e2336;
}

#game {
  font-family: "Kalam", cursive;
  font-size: 6.875em;
  color: #ffffff;
}

.group-title {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Edito */

.container-edito {
  width: 100%;
  height: 154px;
  display: flex;
  justify-content: center;
  position: relative;
}

#edito {
  width: 80%;
  max-height: 154px;
  background-color: #a5c8d5;
  text-align: center;
  position: absolute;
  top: -5vw;
}

#last-step {
  font-weight: 600;
}

#invite-form {
  font-weight: 400;
  color: #ffffff;
}

/* Form */

form {
  font-size: 0.875em;
  color: #99a3a5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 37vw;
}

.civ {
  display: flex;
  justify-content: flex-start;
}

.container-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.field-control {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
}
input {
  border-width: 1px;
  border-color: #99a3a5;
  border-style: solid;
  color: #1e2336;
}

input:focus {
  outline-color: #1e2336;
}

/* Custom checkmark radio */

.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #99a3a5;
  border-style: solid;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-radio input:checked ~ .checkmark:after {
  display: block;
}

.container-radio .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #a6c9d6;
}

/* Custom checkmark checkbox */

.form-check {
  padding-left: 0;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #99a3a5;
  border-style: solid;
}

.container-checkbox:hover input ~ .checkmark-box {
  background-color: #99a3a5;
}

.container-checkbox input:checked ~ .checkmark-box {
  background-color: #1e2336;
}

.checkmark-box:after {
  content: "";
  position: absolute;
  display: none;
}

.container-checkbox input:checked ~ .checkmark-box:after {
  display: block;
}

.container-checkbox .checkmark-box:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Submit button */

.button-validation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2336;
  color: white;
  width: 63%;
  height: 4em;
  text-align: center;
}

/* Footer */

#footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 100%;
  background-color: #1e2336;
  height: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section {
  border-right: 1px solid;
  width: 25%;
  text-align: center;
}

.category-list-footer {
  width: 80%;
  font-size: 0.875em;
  font-weight: 400;
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}

.footer-section:nth-last-child(1) {
  border: none;
  width: 25%;
  text-align: center;
}
